{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <title>ICRACS'21 | {{page_name}}</title>
    <link rel="stylesheet" href="{% static 'icracs/style/style1.css' %}">
</head>
<body>
    <div class="loading">
        <img src="{% static 'icracs/img/logo_small.png' %}" alt="">
    </div>
    <img id="clglogomb" src="{% static 'icracs/img/seclogo.png' %}" alt="">
    <header class="header">
        <div class="container">
            <a href="{% url 'home' %}"><h2>ICRACS 20<span>21</span></h2></a>
            <img id="clglogo" src="{% static 'icracs/img/seclogo.png' %}" alt="">
            <div class="menu">
                <i class="fa fa-bars"></i>
                <nav class="nav">
                    <div class="cross"><i class="fa fa-times cross" aria-hidden="true"></i></div>
                    <ul>
                        <li><a href="{% url 'home' %}"><b>Home</b></a></li>
                        <li><a href="{% url 'about' %}"><b>About us</b></a></li>
                        <li><a href="{% url 'callforpaper' %}"><b>Call for paper</b></a></li>
                        <li><a href="{% url 'papersubmission' %}"><b>Paper Submission</b></a></li>
                        <li><a href="{% url 'committee' %}"><b>Organising Committee</b></a></li>
                        <li><a href="{% url 'speakers' %}"><b>Speakers</b></a></li>
                        <li><a href="{% url 'journalPublication' %}"><b>Journal Publication</b></a></li>
                        <li><a href="{% url 'dates' %}"><b>Dates</b></a></li>
                        <li><a href="{% url 'contact' %}"><b>Contact Us</b></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <marquee><p style="text-transform: uppercase;"><b>INTERNATIONAL CONFERENCE ON RECENT ADVANCES IN COMPUTER SCIENCE on 18 June 2021. All accepted papers will be published in Scopus, SCI/Annexure-I journals.</b> </p></marquee>
    <div class="pagename">
        <!-- <div class="container"> -->
            <!-- <h3>{{ page_name }}</h3> -->
                    <!-- </div> -->
    </div>
        {% block content %}

        {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="div">
                <div class="logo">
                    <div class="img">
                        <img src="{% static 'icracs/img/logo_small.png' %}" alt="">
                    </div>
                    <div class="name"><h3>SAVEETHA ENGINEERING COLLEGE</h3></div>
                </div>
                <div class="content">
                    <p>
                        The college motto, 'BE THE BEST', 
                        carries a message to the students that they should aim for the best in education,
                         culture and achievement.
                         Nothing less than the 'Best' is acceptable in Saveetha Engineering College.
                    </p>
                </div>
            </div>
            <div class="div">
                <h5>Address</h5>
                <p>
                    Saveetha Nagar,<br>

                    Thandalam,<br>
    
                    Chennai-602 105,<br>
    
                    TamilNadu, India. <br>
    
                    Phone : +91 44 66726677 or Ph:+91 44 66726686
                </p>
            </div>
            <div class="div">
                <h5>Links</h5>
                <p>Website</p> <a href="https://www.saveetha.ac.in">www.saveetha.ac.in</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'icracs/js/app.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script>
    AOS.init();
  </script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
          slidesPerView: 1,
          spaceBetween: 30,
          centeredSlides: true,
          loop: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        //   navigation: {
        //     nextEl: '.swiper-button-next',
        //     prevEl: '.swiper-button-prev',
        //   },
          autoplay: {
                delay: 2500,
                disableOnInteraction: false,
              },
        });
      </script>
</body>
</html>