{% extends 'icracs/base.html' %}
{% load static %}
{% block content %}
<section class="paper">
    <div class="container">
        <h2>Call for Paper</h2>
        <div>
            
            <h3>The organizing committee of the conference invites papers on the following areas and not limited to</h3>
            <div class="listofpapers">
                <ul>
                    <li>Artificial Intelligence &amp; Neural Networks
                    </li><li>Internet of Things (IoT)
                    </li><li>Machine Learning
                    </li><li>Soft Computing
                    </li><li>Parallel Processing
                    </li><li>Data Mining &amp; Data Warehousing
                    </li><li>Cloud Computing
                    </li><li>Grid Computing
                    </li><li>Distributed Computing
                    </li><li>Big Data Analytics
                    </li><li>4G Wireless Technologies
                    </li><li>Network Protocols &amp; Wireless Networks
                    </li><li>Network Architectures
                    </li><li>High Speed Networks
                    </li><li>Routing, Switching and Addressing Techniques
                    </li><li>Next Generation Internet
                    </li><li>Next Generation Web Architectures
                    </li><li>Network Operations &amp; Management
                    </li><li>Adhoc and Sensor Networks
                    </li><li>Internet and Web Applications
                    </li><li>Ubiquitous Networks
                    </li><li>Mobile networks &amp; Wireless LAN
                    </li><li>Wireless Multimedia Systems
                    </li><li>Wireless Communications
                    </li><li>Heterogeneous Wireless Networks
                    </li><li>Measurement &amp; Performance Analysis
                    </li><li>Peer to Peer and Overlay Networks
                    </li><li>QoS and Resource Management
                    </li><li>Network Based Applications
                    </li><li>Network Security
                    </li><li>Self-Organizing Networks and Networked Systems
                    </li><li>Optical Networking
                    </li><li>Mobile &amp; Broadband Wireless Internet
                    </li><li>Computational Signal Processing
                    </li><li>Speech Processing
                    </li><li>VLSI Signal Processing
                    </li><li>Image &amp; Video Processing
                    </li><li>Cognitive Radio
                    </li><li>Signal Processing Communication
                    </li><li>Recent trends &amp; Developments in Computer Networks
                    </li></ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}