{% extends 'icracs/base.html' %}
{% load static %}

{% block content %}
    <div class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <div id="speaker">
                <div class="card" data-aos="fade-down" data-aos-duration='2000'>
                    <div class="shape">
                        <div class="image" id="img3"></div>
                    </div class="content">
                    <h3 id="name">Dr. S. Amutha</h3>
                    <p>Organizing Secretary</p>
                    <a href="mailto:samutha@saveetha.ac.in">Mail to samutha@saveetha.ac.in</a>
                    <p>Mob: +91-8903186572</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}