{% extends 'icracs/base.html' %}
{% load static %}

{% block content %}
<section class="date__section">
    <div class="container">
        <h2>Important Dates</h2>
        <div class="center">
            
            <table>
                <tbody>
                    <tr>
                        <td>Date of Conference</td>
                        <td class="date"><b>18.06.2021</b></td>
                    </tr>
                    <tr>
                        <td>Deadline for Paper Submisssion</td>
                        <td class="date"><b>03.05.2021</b></td>
                    </tr>
                    <tr>
                        <td>Notification of Acceptance</td>
                        <td class="date"><b>18.05.2021</b></td>
                    </tr>
                    <tr>
                        <td>Caamera Ready Paper</td>
                        <td class="date"><b>03.06.2021</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

