{% extends 'icracs/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <h2>Journal Publication</h2>
        <div class="ctns">
            <div class="ctn">
                <p>
                    All accepted papers will be published in Conference Proceedings as well as in Scopus indexed journal. As per further concern of the authors, the paper will be published in SCI/Annexure-I journals. 
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}