{% extends 'icracs/base.html' %}
{% load static %}
{% block content %}
<section>

    <div class="container">
        <h2>Paper Submission</h2>
        <div class="ctns">
            <h3>Submission Guidelines:</h3>
            <ul class="list">
                <li>All papers submitted to ICRACS21 will be checked for plagiarism (including self-plagiarism) and should not have been published previously or be under consideration for publication while being evaluated for this conference. </li>
                <li>If a paper is found to fall in the category of plagiarism >20%, the paper will not be reviewed and automatically rejected. </li>
                <li>Even if a paper is accepted and paid for registration, the program committee has a right to reject the paper and will not publish the paper in the proceedings. </li>
                <li>The paper must include a clear indication of research idea, source of data, methodology, results and implications.</li>
            </ul>
            <div class="btns">
                
                <a href="#" class="btn primary disable">Submit Paper</a>
                <a href="#" class="btn secondary disable">Re-Submit&nbsp;Paper</a>
                <a href="#" class="btn disable primary">Register</a>
            </div>
        </div>
        <div class="ctns">
            <h3>Paper Format</h3>
            <ul class="list">
                <li><b>Number of Pages: </b>
                    Papers should not exceed eight pages, including figures, tables and references (up to two additional pages will be permitted (for a total of 10 pages) in a paper.
                    </li>
                <li><b>File Format: </b>PDF only.</li>
                <li><b>Abstract: </b>It is important that the abstract be a meaningful description of your paper.</li>
                <li><b>Keywords: </b>Choose from three to eight keywords.</li>
                <li><b>Color: </b>Use of color is encouraged, but since readers will usually print the papers in black and white, it is the author’s responsibility to ensure that all figures/plots an be printed and understood in black and white.</li>
            </ul>

        </div>
        <div class="ctns">
            <h3>Presentation Guidlines</h3>
            <ul class="list">
                <li>At least one of the authors of selected paper should register and present the paper in the virtual conference via Gmeet.</li>
                <li>Foreign delegates can present their research work via Zoom / Skype video call with prior notice.</li>
                <li>The time allocated for a presentation is 20 minutes, with a further 5 minutes allowed for discussion. </li>
                <li>
                    Think in terms of the following slides:
                    <ul class="list1">
                        <li>A title slide – Name, Title and what the paper is about.</li>
                        <li>One slide with the hypothesis you want to investigate.</li>
                        <li>2 or 3 slides covering your current research plan.</li>
                        <li>You should not require any more than an absolute maximum of 10 slides – this would mean talking to each slide for only two minutes.</li>
                        <li>It is generally distracting to the audience to have too many slides in a short presentation.</li>
                        <li>Do not put too much text on a slide – you want the audience to listen to you and not to be reading your slides!</li>
                    </ul>
                </li>
            </ul>
            <div id="btns">
            </div>
        </div>
    </div>
</section>
{% endblock %}