{% extends 'icracs/base.html' %}
{% load static %}
{% block content %}
<div class="speakers">
    <div class="container">
        <h2>Speakers</h2>
        <div class="cards">
            <div class="card" data-aos="fade-down" data-aos-duration='2000'>
                <div class="shape">
                    <div class="image" id="img1"></div>
                </div>
                <h3>Dr. Prakash R. Apte</h3>
                <p>Founder and President, APTennovate,
                    ROBUST Innovation Training and Consultancy,
                    &amp; Adjunct Professor at COEP, Mumbai, India.
                    </p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration='2000'>
                <div class="shape">
                    <div class="image" id="img2"></div>
                </div>
                <h3>Dr. Surbhi Bhatia </h3>
                <p>Assistant Professor, 
                    College of Computer Sciences and Information Technology, King Faisal University, Saudi Arabia
                    </p>
            </div>
        </div>     
    </div>
</div>
{% endblock %}