//mixins
$fontcolor: white;
$bigfontcolor: white;
@mixin containertbp {
    padding-top: 2em;
    padding-bottom: 3em;
}
@mixin center {
    display: grid;
    place-items: center;
}
@mixin aligncenter {
    display: flex;
    align-items: center;
}
@mixin pagetitle {
    text-align: center;
    margin-bottom: 1em;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background: #011627; //040f0c
    font-family: 'Montserrat', sans-serif;
}
.loading {
    overflow: hidden;
    z-index: 9999;
    height: 100vh;
    background: gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    img {
        width: 100px;
        animation: spin 3s infinite ease-in-out;
    }
}
.hidden {
    overflow: hidden;
    animation: fade 1s;
    animation-fill-mode: forwards;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fade {
    100% {
        visibility: hidden;
        opacity: 1;
    }
}
.scrolldisable {
    overflow: hidden;
}
.container {
    padding: 0em 5em;
    .h2 {
        @include pagetitle();
    }
}
a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
#clglogomb {
    display: none;
}
.header {
    background: #F6F7F8;
    height: 5em;
    z-index: 100;
    .container {
        height: 100%;
        @include aligncenter();
        justify-content: space-between;
        transition: all 300ms ease;
        h2 {
            color: black;
            span {
                color: #D90429;
            }
        }
        #clglogo {
            height: 4.5em;
            position: relative;
            top: 4px;
        }
        .menu {
            .fa {
                cursor: pointer;
                padding: .5em;
                transform: scale(1.3);
            }
            .fa-bars {
                color: black;
            }
            .nav {
                z-index: 999;
                top: 0;
                position: fixed;
                height: 100vh;
                width: 20em;
                right: -20em;
                color: #edf2f4;
                background: linear-gradient(to bottom right, rgba(30, 30, 30, 0.562), rgba(43, 43, 43, 0.377));
                backdrop-filter: blur(10px);
                transition: all 400ms ease-in-out;
                ul {
                    list-style: none;
                    padding-top: 2em;
                    li {
                        text-align: center;
                        margin-top: 2.5em;
                    }
                }
                a {
                    position: relative;
                    color: #edf2f4;
                    transition: all 500ms ease-in-out;
                    &:hover {
                       bottom: 5px;
                    }
                }
                .cross {
                    color: #e0243a;
                    position: absolute;
                    top: 1em;
                    right: 1em;
                    transition: all 300ms;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .nav.active {
                right: 0;
                transition: all 500ms ease-in-out;
            }
        }
    }

}
.sticky{
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 300ms ease;
}
marquee {
    background: #1a1a1a;
    padding: .5em 0;
    color: #15e6ff;
    text-transform: uppercase;
}
.pagename {
    background: #f1f1f1;

    .container {
        // padding-bottom: .5em;
        // padding-top: .5em;

        h3 {
            left: 0.2em;
            position: relative;
            display: inline-block;
            padding-right: 1em;
            &::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 2.1em;
                bottom: -8px;
                left: -12px;
                background-color: yellowgreen;
            }
        }
    }
}
//#00e9b2
//#15e6ff
.hero {
    background: linear-gradient(to bottom, #0116272a,#01162794, #011627),url('../img/1398323.jpg');
    // background: linear-gradient(to top, rgba(255, 0, 0, 0.26), red), url('../img/banner1.jpg');
    background-position: center;
    background-size: cover;
    padding: 3em 0em;
    margin-top: -5px;
    .container {
        margin: 0 3em;
        text-align: center;
        h1 {
            color: white;
            margin: 1.5em 0em;
        }
        h2 {
            font-style: italic;
            color: white;
            margin: .75em 0em;
        }
        h3 {
            font-style: italic;
            color: white;
            margin: .75em 0em;
        }
    }
}

#section1 {
    padding: 3em 0;
    .container {
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-gap: 2.5em;
        p {
            color: $fontcolor;
            text-align: justify;
        }
        h3 {
            color: #15e6ff;
            margin-bottom: .75em;
        }
        table {
            tbody {
                td {
                    color: $fontcolor;
                    padding-top: .75em;
                }
                .date {
                    color: $fontcolor;
                    padding-left: .75em;
                }
            }
        }
    }
}
.sponsers {
    background: white;
    padding-top: 3em;
    padding-bottom: 3em;
    #spons {
        color: black;
    }
    .container {
        text-align: center;
    }
    .imgs{
        margin-top: 1.5em;
        @include aligncenter();
        justify-content: center;
        .img {
            margin: 0em 3em;
            width: 200px;
            img {
                width: 100%;
            }
        }
    }
}

.about {
    // margin-top: 1em;
    @include containertbp();
    margin-bottom: 3em;
    .container {
        p {
            text-align: justify;
        }
        h2 {
            color: white;
            text-align: center;
            margin-bottom: 1em;
        }
        .container_flued {
            border-radius: 4px;
            padding-top: 1em;
            padding-bottom: 1em;
            background: #f6f7f8;
        }
        .img {
            margin: auto;
            align-items: center;
            width: calc(100% - 120px);
            margin-bottom: 2.5em;
            
            img {
                width: 100%;
            }
        }
        .content {
            padding: 0em 3em;
            line-height: 1.6;
        }
        .swiper-container {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
          }
      
          .swiper-slide {
            width: 100%;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
    }
}

.contact {
    .container {
        color: white;
        @include containertbp();
        @include center();
        h2 {
            margin-bottom: 1em;
        }
        .content {
            text-align: center;
            a {
                color: white;
            }
            p {
                line-height: 1.6;
            }
        }
    }
}

.footer {
    background-color: #1a1a1a;
    color: #edf2f4;
    a {
        color: #15e6ff;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5em;
        h5 {
            margin-bottom: .75em;
            color: #2ec4b6;
        }
    }
    .div:first-child{
        p{
            text-align: justify;
        }
    }
    .div {
        margin: 1.75em 0;
        .logo {
            height: 75px;
            @include aligncenter();
        }
        .img {
            width: 75px;
            margin-right: 4px;
            img {
                width: 100%;
            }
        }
    }
    .div:not(:first-child) {
        text-align: center;
    }
}
//dates page

.date__section {
    .container {
        @include containertbp();
        @include center();
        .center {
            table {
                tbody {
                    tr {
                        color: white;
                        td {
                            padding-top: 1em;
                        }
                        .date {
                            padding-left: 1.5em;
                        }
                    }
                }
            }
        }
    }
}
.speakers, .contact {
    .container {
        display: grid;
        place-items: center;
        h2 {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        #name {
            color: black;
        }
        #speaker {
            display: grid;
            place-items: center;
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5em;
            padding-bottom: .5em;
            margin-bottom: 1em;

        }
        .card {
            border-radius: 4px;
            background: white;
                height: 400px;
                width: 300px;
                box-shadow: 10px 0 20px .9px black;
                background-size: cover;
                justify-content: center;
                align-items: center;
                text-align: center;
                overflow: hidden;
                font-family: 'Abel', sans-serif;
                #img1 {
                    background-image: url('../img/prakash.jpeg');
                }
                #img2 {
                    background-image: url('../img/surabhi.jpeg');
                }
                #img3 {
                    background-image: url('../img/amutha1.jpg');
                }
                .image {
                    height: 100px;
                    width: 100px;
                    background-size: cover;
                    border-radius: 50%;
                    border: 8px solid white;
                    position: relative;
                    top: 200px;
                    margin-left: 170px;
                    box-shadow: 0 2px 15px rgb(58, 54, 54);
                    transform: rotate(-20deg);
                    transition: all 300ms ease-in-out;
                }
                .shape {
                    height: 250px;
                    width: 400px;
                    background-color: #20a4f3;
                    margin-left: -20px;
                    position: relative;
                    top: -80px;
                    box-shadow: 0 2px 15px black;
                    transform: rotate(25deg);
                }
                h3 {
                    margin-bottom: 10px;
                    font-family: 'Montserrat', sans-serif;
                }               
                p {
                    font-size: 14px;
                    padding-left: 30px;
                    padding-right: 30px;
                    color: rgb(105, 100, 109);
                }
            }
        .card:hover .image {
            transform: scale(1.3);
        }
    }
}
//commitee
// .commitee {
    .container {
        @include containertbp();
        h2 {
            text-align: center;
            color: white;
        }
        .ctns {
            border-radius: .5em;
            margin: 1em 0em;
            padding: 1em 2em;
            background-color: #f1f1f1;
            h3 {
                text-align: center;
                margin-bottom: 2em;
            }
            .list1 {
                padding-left: 3em;
            }
            .list {
                li {
                    padding: .4em 0em;
                }
            }
            .ctn {
                margin: 1em 0em;
            }
            #btns {
                padding-top: 1em;
                display: grid;
                place-items: center;
            }
            .btns {
                padding-top: 1em;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                place-items: center;
                
            }
            // a.disable {
            //     pointer-events: none;
            // }
            .primary {
                background: #15e6ff;
            }
            .secondary {
                background: rgb(255, 230, 0);
            }
            .btn {
                cursor: not-allowed;
                color: black;
                font-weight: bold;
                border-radius: 4px;
                padding: .75em 1.2em;
            }
        }
    }
  
// }
//callfor paper
.paper {
    .container {
        @include containertbp();
        div {
            padding-top: 1em;
            padding-bottom: 1em;
            background: #f1f1f1;
            border-radius: 4px;
        }
        h3,h2 {
            text-align: center;
        }
        h2 {
            padding-bottom: 1em;
            color: white;
        }
        .listofpapers {
            padding-top: 1em;
            ul {
                padding-left: 4em;
                li {
                    
                    padding-top: .5em;
                }
            }
        }
    }
}

// media queries
@media screen and (max-width: 1279px) {
    .container {
        padding: 0em 2em;
    }
}
@media screen and (max-width: 980px) {
    .sticky{
        margin-top: 0;
        top: -5em;
    }
    #clglogomb {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
        height: 5em;
    }
    .header {
        margin-top: 5em;
        .container {
            #clglogo {
                display: none;
            }

    }

}
}
@media screen and (max-width: 768px){

    .container {
        padding: 0em 1em;
    }
    .hero {

        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 2em;
        }
    }
    .about {
        .container {
            .content {
                padding: 0em 1em;
            }
        }
    }
    .footer {
        .container {
            padding: 0em 1em;
            display: unset;            
        }
        .div{
            margin: 3em 0em;
        }
    }

}

@media screen and (max-width: 568px){
    .about {
        .container {
            .img {
                width: calc(100% - 1em);
            }
        }
    }
    .header {
        margin-top: 4em;
        height: 4em;
        h2 {
            font-size: 1.5rem;
        }
        .container {
            #clglogo {
                height: 4em;
            }
        }
    }
    .container {
        .ctns {
            h3 {
                margin-bottom: 1em;
            }
            .btns {
                display: unset;
                .btn {
                    display: block;
                    text-align: center;
                    margin-top: .5em;
                }
            }
        }
    }
    .speakers{
        .container {
            display: grid;
            place-items: center;
            .cards {
                align-items: center;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .paper {
        .container {
            .listofpapers {
                ul {
                    padding-left: 2em;
                }
            }
        }
    }
    .container {
        padding: .5em;
    }
    h1 {
        color: white;
        
    }
    h2 {
        color: white;
        
    }
    .hero {
        padding: 1em 0;
        h1 {
            font-size: 2em;
            margin: .7em 0em;
        }
        h2 {
            font-size: 1.5em;
            margin: .5em 0em;
        }
    }
    #section1 {
        .container {
            display: flex;
            flex-direction: column;
            table {
                tbody {
                    td {
                        padding-top: 1.25em;
                    }
                    .date {
                        padding-left: 2.75em;
                    }
                }
            }
        }
    }
}